# Lokale Dateien
.local/
abgabe/
abgabe.zip

# Jetbrains
.idea/
*.iml

# generated
*.class
*.blend[1-9]
generated/

# Build Artefakte
/bin/
/docs/
/build/
/opencv/
/opencv_contrib/
/ceres-solver/
/vcglib/
/openMVS/
/Meshlab
/*.installed
